/*Mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        /* background-image: url(../assets/image-hero-mobile.webp) ;  */
        background-repeat: no-repeat;
        background-size: 327px 301px;
        font-family:'Plus Jakarta Sans', sans-serif;
        
    }

    /*header*/
    header { 
        padding: 30px 16px;  
    }

    header div {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h2 {
        font-size: 28px;
        font-weight: 800;
        line-height: 35.28px;
        color: #13183f;
    }
    
    .header-button {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        color:#FFFFFF;
        padding: 9px 24px 11px 24px;
        background-color: #13183F;
        border-radius: 28px;
        border: none;
    }

    .header-button:hover {
        background-color: #666CA3;
        cursor: pointer;
    }

    .header-container { 
       display: flex;
       justify-content: space-between;
       padding: 0px;
    }

     /* section 1*/
     .section-1 {
        margin-top: 50px;
        padding: 0px 170px;
        margin-bottom: 250px;
    }

    .section-1 {
        display: flex;
        flex-direction: column;
        margin-top: 38px;
        padding: 16px;
        
    }
    
    .section-1 h1 {
        font-weight: 800;
        font-size: 40px;
        line-height: 50.4px;
        margin-bottom:26px;
        color: #13183F  
    }

    .section-1 p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #83869A;
        margin-bottom: 24px;
    }

    .content  {
        flex-basis: 150%;
        max-width: 200%;
    }

    .section-1 button {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: #FFFFFF;
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border: none;
        border-radius: 31.5px;
        padding: 15px 37px 15px 38px;
    }

    .section-1 button:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border-radius: 31.5px;
        cursor: pointer;
    }

    .image {
        /* margin-top: 46px; */
        margin-bottom: -250px;
    }

    .main-image-mobile {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
  
    
    /*courses*/

    .courses {
        margin-top: 0;
        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
        padding-bottom: 50px;
    
    }
    .courses-container {
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 10px;
    }

    .course-item {
        background-color: #FFFFFF;
        width: 339px;
        border-radius: 15px;
    }

    #courses-text {
        background: -webkit-linear-gradient(#FF6F48, #F02AA6);
        padding: 24px 29px 32px 28px;
        border-radius: 10px;
    }
    
    #courses-text p {
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        color: #FFFFFF;
    }

    .course-item {
        padding: 0px 29px 32px 28px;
        background-color: #FFFFFF;
    }

    .course-item h2 {
        font-size: 24px;
        font-weight: 800;
        line-height: 30.24px;
        color: #13183F;
        margin-bottom: 16px; 
    }

    .course-item p { 
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #83869A;
        margin-bottom: 24px;
    }

    .course-item a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        color: #F74780;
    }

    .course-item a:hover {
        color: #FFA7C3; 
    }

    .course-item img{
         margin-top: -24px;
         margin-bottom: 24px;
    }

    #courses-text {
        padding: 24px 29px 32px 28px;
        border-radius: 10px;
    }

    /* footer */
    footer {
        padding: 32px 165px;
    }

    footer{
        padding: 36px 16px;
        background-color: #13183F;
    }

    footer div {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        /* padding: 0px 100px 0px 130px;  */
    }
    
    footer h2 {
        font-weight: 800;
        font-size: 28px;
        line-height: 35px;
        color: #FFFFFF;
    }

    .footer-button { 
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        padding: 9px 24px 11px 24px;
        background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
        border-radius: 28px;
        border: none;
    }

    .footer-button:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
        border-radius: 28px;
        cursor: pointer;
    }
    
    @media (max-width: 767px) {
        .main-image-tablet {
            display: none;
        }
    }
}